body { background: #fc6e92; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 37px; display: flex; }
.block-config-0 { color: #5f8e24; font-size: 20px; margin-bottom: 5px; }
.block-helper-1 { color: #a614db; font-size: 17px; margin-bottom: 5px; }
.block-metrics-2 { color: #cd64a6; font-size: 18px; margin-bottom: 5px; }
.block-sms-3 { color: #40473e; font-size: 21px; margin-bottom: 5px; }
.block-payment-4 { color: #4ca5b3; font-size: 21px; margin-bottom: 5px; }
.block-logger-5 { color: #fdde1b; font-size: 16px; margin-bottom: 5px; }